@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para lo mas vendido */
.titulo {
    font-size: 20px;
    color: black;
    display: flex;
}

.vermas {
    margin-left: auto;
    color:black;
    display: flex;
}

.vermas:hover{
    color:#3B86F6;
}

#acordeon > details {
    margin-bottom: 15px;
    color: black;
}

#acordeon > details > p {
    margin-top: 10px;
    color: rgb(49, 49, 49);
}

.separador{
    border-left: 1px solid #c2c2c2;
    height: 40px;
    margin-top: 12px;
}