@tailwind base;
@tailwind components;
@tailwind utilities;

/*Distancia lateral brands Navbar*/
ul.mt-6.space-y-6.sm\:mt-4.sm\:space-y-4 {
    margin-left: -30px !important;
}

/*Quiatr underline*/

a {
    text-decoration: none !important;
}

/*Color text brand Navbar*/
ul.mt-6.space-y-6.sm\:mt-4.sm\:space-y-4 a{
    color: grey;
}


/*Colores bg de tailwind 

Principal: bg-blue-500 (rgb(59 130 246) )

*/

/* 
    Añadir imagenes con :src="'img/logotipo.png'" 

*/



/* CSS HOME */

    /* Estilos para el carrusel */
    #carouselExampleAutoplaying {
        max-height: 85vh;
        overflow: hidden;
    }

    /* Estilos para ajustar la altura del carrusel en pantallas más pequeñas */
    @media (max-width: 768px) {
        #carouselExampleAutoplaying {
            max-height: 60vh; /* Puedes ajustar este valor según tus necesidades */
        }
    }

    /* Estilos para ajustar la altura del carrusel en pantallas aún más pequeñas */
    @media (max-width: 576px) {
        #carouselExampleAutoplaying {
            max-height: 40vh; /* Puedes ajustar este valor según tus necesidades */
        }
    }

    
